/*common*/
* {
    margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;
    /*padding,border width에 포함. (포함X: box-sizing: content-box;)*/
    box-sizing: border-box; /*오페라(Opera)*/
    -moz-box-sizing: border-box; /*파이어폭스(Firefox)*/
    -webkit-box-sizing: border-box; /*웹킷(Webkit) & 크롬(Chrome)*/
}
ul {
    list-style: none;
    display: block;
}
a {
    outline: 0;
    text-decoration: none;
    color: #333;
}
img {
    border: 0;
}
span {
    border: 0; outline: 0;
}
.floatR {
    float: right;
}
.floatL {
    float: left;
}

/*header*/
.header {
    width: 100%; height: 120px;
    background: #fff;
    padding: 20px 230px 0;
    width: 100%; height: 100px;
}
.header ul.main_menu {
    
    display: inline-block;
}
.header ul li.logo img {
    width: 230px;
    float: left;
}
.header ul.gnb_menu {
    display: inline-block;
}
.header ul.gnb_menu img {
    display: none;
}
.header ul.gnb_menu > li {
    /*position: relative;*/
    float: left;
    /*padding-left: 78px;*/
    line-height: 75px;
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
    position: relative;
}


/*ul.gnb_menu .gnbSub {
    position: absolute; 
}*/
.header ul.gnb_menu .gnbSub .subMenu {display: none;}
ul.gnb_menu .menu1:hover .hover{
    display: block;
}
ul.gnb_menu .menu2:hover .hover{
    display: block;
}
ul.gnb_menu .menu3:hover .hover{
    display: block;
}
ul.gnb_menu .menu4:hover .hover{
    display: block;
}

/*
ul.gnb_menu .subMenu {
    position: relative;
}
*/
ul.gnb_menu .subMenu ul li {
    display:inline-block;  margin: 10px;
}

/*.gnbSub{
    height: 61px; padding: 23px 0; position: absolute; 
}*/
.gnbSub .sub1Body {
    background-image: url(../images/sub1.png);
    position: absolute; 
    width: 278px; height: 61px;
    line-height: 61px;
}
.gnbSub .sub2Body {
    background-image: url(../images/sub2.png);
    position: absolute;
    width: 190px; height: 61px;
    line-height: 61px;
}
.gnbSub .sub3Body {
    background-image: url(../images/sub3.png);
    position: absolute;
    width: 266px; height: 61px;
    line-height: 61px;
}
.gnbSub .sub4Body {
    background-image: url(../images/sub4.png);
    width: 145px; height: 61px;
    line-height: 61px;
    position: absolute;
}
.gnbSub ul li a{
    color: #fff;
    
}
/* tablet size - header */
@media (max-width: 1024px) {
    
    .header {
        width: 100%; height: 100px;
        padding: 20px 100px;
        position: fixed; z-index: 9999;
    }
    .header ul li.logo a img {
        width: 150px;
        position: absolute; left: 50%; transform: translate(-50%);
    }
    .header ul.gnb_menu li {
        display: none;
    }
    .header ul.gnb_menu img {
        display: block;
        width: 50px; height: 50px;
        position: absolute; right: 42px;
    }
}

/*container*/
.container {
    width: 100%;
    padding: 90px 230px;
}
.content1 {
    padding-top: 100px;
}
.content1 h1 {
    font-family: "Tmon몬소리 Black", sans-serif;
    font-size: 79px; color: #fff; 
    -webkit-text-stroke: 2px #010101;
    text-shadow: 3px 3px 0 skyblue;
    text-align: center;
    padding: 40px 0;
}
.content1 p {
    width: 1000px;
    margin: 0 auto;
}
.content1 img {
    padding-top: 100px;
    display: block;
    margin: 0 auto;
}
/* tablet - container */
@media (max-width: 1024px) {
    .container {
        padding: 90px 100px;
    }
    .content1 h1 {
        font-size: 63px;
    }
    .content1 p {
        width: 800px;
    }
    .content1 img {
        width: 800px;
    }
}
/*footer*/
.footer {
    width: 100%; height: 200px;
    background: #343434;
    padding: 50px 230px;
}
.footer img {
    width: 201px;
    float: left;
}
.footer ul{
    width: 80%;
    padding-left: 170px;
    display: inline-block;
}
.footer ul li {
    float: left; padding-right: 50px;

}
.footer ul li a {
    color: #fff;
}
.footer p {
    color: #fff;
    display: inline-block;
    padding-left: 170px;
}
/* tablet - footer*/
@media (max-width: 1024px) {
    .footer {
        padding: 30px 100px;
    }
    .footer img{
        width: 150px;
        margin: 0 auto;
        padding: 30px 30px 0 0;
    }
    .footer ul {
        width: auto;
        padding: 30px 0 0 0;
        margin: 0 auto;
    }
    .footer p {
        width: auto;
        padding: 0;
        display: block;
        margin: 0 auto;
    }
}